
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Responsive Bootstrap 4 Dashboard Template">
    <meta name="author" content="BootstrapDash">

    <title>Jewelley Store</title>

    <!-- vendor css -->
    <link href="../lib/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../lib/typicons.font/typicons.css" rel="stylesheet">
    <link href="../lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="../lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="../lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- azia CSS -->
    <link rel="stylesheet" href="../css/azia.css">
    <style type="text/css">
        .container {
            min-width: 90%;
        }
    </style>


    <script src="../lib/jquery/jquery.min.js"></script>

    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/jquery.flot/jquery.flot.resize.js"></script>
    <script src="../lib/ionicons/ionicons.js"></script>
    <script src="../lib/chart.js/Chart.bundle.min.js"></script>
    <script src="../lib/peity/jquery.peity.min.js"></script>
    <script src="../lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="../lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>
    <script src="../js/chart.flot.sampledata.js"></script>
    <script src="../js/dashboard.sampledata.js"></script>
</head>
<body>

    <div class="az-header">
        <div class="container">
            <div class="az-header-left">
                <a href="" class="az-logo"><span></span> Brand Name</a>
                <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
            </div><!-- az-header-left -->
            <div class="az-header-menu">
                <div class="az-header-menu-header">
                    <a href="" class="az-logo"><span></span> Brand Name</a>
                    <a href="" class="close">&times;</a>
                </div><!-- az-header-menu-header -->
                <ul class="nav">
                    <li class="nav-item active show">
                        <a href="@Href("~/Dashboard/Index")" class="nav-link"><i class="typcn typcn-chart-area-outline"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link with-sub"><i class="typcn typcn-folder"></i> Management</a>
                        <nav class="az-menu-sub">
                            <a href="@Href("~/Admin/Index")" class="nav-link">Admin</a>
                        </nav>
                    </li>
                    <li class="nav-item">
                        <a href="@Href("~/Admin/Index")" class="nav-link"><i class="typcn typcn-folder"></i> Stock</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Href("~/Sale/Index")" class="nav-link"><i class="typcn typcn-folder"></i> Sale</a>
                    </li>
                </ul>
            </div><!-- az-header-menu -->
            <div class="az-header-right">
                <a href="" class="az-header-search-link"><i class="fas fa-search"></i></a>
                <div class="az-header-message">
                    <a href="app-chat.html"><i class="typcn typcn-messages"></i></a>
                </div><!-- az-header-message -->
                <div class="dropdown az-header-notification">
                    <a href="" class="new"><i class="typcn typcn-bell"></i></a>
                    <div class="dropdown-menu">
                        <div class="az-dropdown-header mg-b-20 d-sm-none">
                            <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                        </div>
                        <h6 class="az-notification-title">Notifications</h6>
                        <p class="az-notification-text">You have 2 unread notification</p>
                        <div class="az-notification-list">
                            <div class="media new">
                                <div class="az-img-user"><img src="https://via.placeholder.com/500" alt=""></div>
                                <div class="media-body">
                                    <p>Congratulate <strong>Socrates Itumay</strong> for work anniversaries</p>
                                    <span>Mar 15 12:32pm</span>
                                </div><!-- media-body -->
                            </div><!-- media -->
                            <div class="media new">
                                <div class="az-img-user online"><img src="https://via.placeholder.com/500" alt=""></div>
                                <div class="media-body">
                                    <p><strong>Joyce Chua</strong> just created a new blog post</p>
                                    <span>Mar 13 04:16am</span>
                                </div><!-- media-body -->
                            </div><!-- media -->
                            <div class="media">
                                <div class="az-img-user"><img src="https://via.placeholder.com/500" alt=""></div>
                                <div class="media-body">
                                    <p><strong>Althea Cabardo</strong> just created a new blog post</p>
                                    <span>Mar 13 02:56am</span>
                                </div><!-- media-body -->
                            </div><!-- media -->
                            <div class="media">
                                <div class="az-img-user"><img src="https://via.placeholder.com/500" alt=""></div>
                                <div class="media-body">
                                    <p><strong>Adrian Monino</strong> added new comment on your photo</p>
                                    <span>Mar 12 10:40pm</span>
                                </div><!-- media-body -->
                            </div><!-- media -->
                        </div><!-- az-notification-list -->
                        <div class="dropdown-footer"><a href="">View All Notifications</a></div>
                    </div><!-- dropdown-menu -->
                </div><!-- az-header-notification -->
                <div class="dropdown az-profile-menu">
                    <a href="" class="az-img-user"><img src="https://via.placeholder.com/500" alt=""></a>
                    <div class="dropdown-menu">
                        <div class="az-dropdown-header d-sm-none">
                            <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                        </div>
                        <div class="az-header-profile">
                            <div class="az-img-user">
                                <img src="https://via.placeholder.com/500" alt="">
                            </div><!-- az-img-user -->
                            <h6>Aziana Pechon</h6>
                            <span>Premium Member</span>
                        </div><!-- az-header-profile -->

                        <a href="" class="dropdown-item"><i class="typcn typcn-user-outline"></i> My Profile</a>
                        <a href="" class="dropdown-item"><i class="typcn typcn-edit"></i> Edit Profile</a>
                        <a href="" class="dropdown-item"><i class="typcn typcn-time"></i> Activity Logs</a>
                        <a href="" class="dropdown-item"><i class="typcn typcn-cog-outline"></i> Account Settings</a>
                        <a href="page-signin.html" class="dropdown-item"><i class="typcn typcn-power-outline"></i> Sign Out</a>
                    </div><!-- dropdown-menu -->
                </div>
            </div><!-- az-header-right -->
        </div><!-- container -->
    </div><!-- az-header -->

    @RenderBody();
    <!-- az-content -->

    <div class="az-footer ht-40 fixed-bottom">
        <div class="container ht-100p pd-t-0-f">
            <span>&copy; 2019 Azia Responsive Bootstrap 4 Dashboard Template</span>
        </div><!-- container -->
    </div><!-- az-footer -->



    
    <script src="../js/azia.js"></script>



    @*dashboard ready script*@
    <script>
        //$(function () {
        //    'use strict'

        //    var plot = $.plot('#flotchart', [{
        //        data: flotsampledata3,
        //        color: '#007bff',
        //        lines: {
        //            fillcolor: { colors: [{ opacity: 0 }, { opacity: 0.2 }] }
        //        }
        //    }, {
        //        data: flotsampledata4,
        //        color: '#560bd0',
        //        lines: {
        //            fillcolor: { colors: [{ opacity: 0 }, { opacity: 0.2 }] }
        //        }
        //    }], {
        //        series: {
        //            shadowsize: 0,
        //            lines: {
        //                show: true,
        //                linewidth: 2,
        //                fill: true
        //            }
        //        },
        //        grid: {
        //            borderwidth: 0,
        //            labelmargin: 8
        //        },
        //        yaxis: {
        //            show: true,
        //            min: 0,
        //            max: 100,
        //            ticks: [[0, ''], [20, '20k'], [40, '40k'], [60, '60k'], [80, '80k']],
        //            tickcolor: '#eee'
        //        },
        //        xaxis: {
        //            show: true,
        //            color: '#fff',
        //            ticks: [[25, 'oct 21'], [75, 'oct 22'], [100, 'oct 23'], [125, 'oct 24']],
        //        }
        //    });

        //    $.plot('#flotchart1', [{
        //        data: dashdata2,
        //        color: '#00cccc'
        //    }], {
        //        series: {
        //            shadowsize: 0,
        //            lines: {
        //                show: true,
        //                linewidth: 2,
        //                fill: true,
        //                fillcolor: { colors: [{ opacity: 0.2 }, { opacity: 0.2 }] }
        //            }
        //        },
        //        grid: {
        //            borderwidth: 0,
        //            labelmargin: 0
        //        },
        //        yaxis: {
        //            show: false,
        //            min: 0,
        //            max: 35
        //        },
        //        xaxis: {
        //            show: false,
        //            max: 50
        //        }
        //    });

        //    $.plot('#flotchart2', [{
        //        data: dashdata2,
        //        color: '#007bff'
        //    }], {
        //        series: {
        //            shadowsize: 0,
        //            bars: {
        //                show: true,
        //                linewidth: 0,
        //                fill: 1,
        //                barwidth: .5
        //            }
        //        },
        //        grid: {
        //            borderwidth: 0,
        //            labelmargin: 0
        //        },
        //        yaxis: {
        //            show: false,
        //            min: 0,
        //            max: 35
        //        },
        //        xaxis: {
        //            show: false,
        //            max: 20
        //        }
        //    });


        //    //-------------------------------------------------------------//


        //    // line chart
        //    $('.peity-line').peity('line');

        //    // bar charts
        //    $('.peity-bar').peity('bar');

        //    // bar charts
        //    $('.peity-donut').peity('donut');

        //    var ctx5 = document.getelementbyid('chartbar5').getcontext('2d');
        //    new chart(ctx5, {
        //        type: 'bar',
        //        data: {
        //            labels: [0, 1, 2, 3, 4, 5, 6, 7],
        //            datasets: [{
        //                data: [2, 4, 10, 20, 45, 40, 35, 18],
        //                backgroundcolor: '#560bd0'
        //            }, {
        //                data: [3, 6, 15, 35, 50, 45, 35, 25],
        //                backgroundcolor: '#cad0e8'
        //            }]
        //        },
        //        options: {
        //            maintainaspectratio: false,
        //            tooltips: {
        //                enabled: false
        //            },
        //            legend: {
        //                display: false,
        //                labels: {
        //                    display: false
        //                }
        //            },
        //            scales: {
        //                yaxes: [{
        //                    display: false,
        //                    ticks: {
        //                        beginatzero: true,
        //                        fontsize: 11,
        //                        max: 80
        //                    }
        //                }],
        //                xaxes: [{
        //                    barpercentage: 0.6,
        //                    gridlines: {
        //                        color: 'rgba(0,0,0,0.08)'
        //                    },
        //                    ticks: {
        //                        beginatzero: true,
        //                        fontsize: 11,
        //                        display: false
        //                    }
        //                }]
        //            }
        //        }
        //    });

        //    // donut chart
        //    var datapie = {
        //        labels: ['search', 'email', 'referral', 'social', 'other'],
        //        datasets: [{
        //            data: [25, 20, 30, 15, 10],
        //            backgroundcolor: ['#6f42c1', '#007bff', '#17a2b8', '#00cccc', '#adb2bd']
        //        }]
        //    };

        //    var optionpie = {
        //        maintainaspectratio: false,
        //        responsive: true,
        //        legend: {
        //            display: false,
        //        },
        //        animation: {
        //            animatescale: true,
        //            animaterotate: true
        //        }
        //    };

        //    // for a doughnut chart
        //    var ctxpie = document.getelementbyid('chartdonut');
        //    var mypiechart6 = new chart(ctxpie, {
        //        type: 'doughnut',
        //        data: datapie,
        //        options: optionpie
        //    });

        //});

    </script>


    @*admin js ready script*@
    <script>
        $(function () {
            var todoListItem = $('.todo-list');
            var todoListInput = $('.todo-list-input');
            $('.todo-list-add-btn').on("click", function (event) {
                event.preventDefault();

                var item = $(this).prevAll('.todo-list-input').val();

                if (item) {
                    todoListItem.append("<li><div class='form-check'><label class='ckbox'> <input id='checkAll' type='checkbox'>" + item + " <span></span> </label></div><i class='remove typcn icon typcn-delete-outline'></i></li>");
                    todoListInput.val("");
                }

            });

            todoListItem.on('change', '.checkbox', function () {
                if ($(this).attr('checked')) {
                    $(this).removeAttr('checked');
                } else {
                    $(this).attr('checked', 'checked');
                }

                $(this).closest("li").toggleClass('completed');

            });

            todoListItem.on('click', '.remove', function () {
                $(this).parent().remove();
            });

        });
    </script>
</body>
</html>
